.filters-panel {
    top: 0;
    bottom: 0;
    left: 1473px;
    right: 0;
    margin: 44px;
    z-index: 1000;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(219, 110, 75, 1);
    border-radius: 30px;
    width: 350px;
    height: 36px;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.filters-title {
    margin: 0;
    font-weight: 300;
    font-size: 18px;
    color: rgba(219, 110, 75, 1);
}

.filters-header {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
    height: 36px;
}

.filters-icon {
    margin-top: 5px;
}

.filters-panel:not(.filters-panel--open) {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.filters-panel--open {
    height: 887px;
    display: flex;
    flex-direction: column;
}