.routes-panel {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 111px;
    margin-left: 44px;
    z-index: 1000;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(219, 110, 75, 1);
    border-radius: 30px;
    width: 365px;
    height: 36px;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
}

.routes-title {
    margin: 0;
    font-weight: 300;
    font-size: 18px;
    color: rgba(219, 110, 75, 1);
}

.routes-header {
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    flex-shrink: 0;
    height: 36px;
    position: relative; 
    width: 100%;
}

.routes-panel:not(.routes-panel--open) {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.routes-panel--open {
    height: 879px;
    display: flex;
    flex-direction: column;
}


.toolbar-icon {
    position: absolute;
    right: 20px; 
    transform: translateY(-50%);
    margin-top: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.routes-panel:not(.routes-panel--open) .toolbar-icon {
    transform: translateY(-50%) rotate(180deg);
}
