html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Отключаем прокрутку */
  height: 100%;
}

#root {
  height: 100vh;
  overflow: hidden;
}

.App {
  height: 100vh;
  overflow: hidden;
  position: relative;
}