.route-card {
  width: 371px;
  height: 135px;
  display: flex;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.2s;
  margin-top: 32px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 13px;
  position: relative;
  align-items: stretch;
}

.route-card__photo {
  width: 140px;
  height: 135px;
  border-radius: 15px;
  object-fit: cover;
}

.route-card__content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80%;
}

.route-card__name {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  color: rgba(219, 110, 75, 1);
  display: -webkit-box;
  -webkit-line-clamp: 2; /* ограничение 2 строки */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.route-card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.route-card__year, 
.route-card__distance {
  font-size: 12px;
  color: rgba(219, 110, 75, 1);
}

.route-type-icon {
  width: 40px;
  height: 40px;
}


.route-card__corner-icons {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  z-index: 2;
}

.route-card__hole-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

.route-card__fill-icon {
  position: absolute;
  top: 4.5px;
  left: 4.5px;
  width: 21px;
  height: 21px;
}



