.route-card {
  width: 371px;
  height: 135px;
  display: flex;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.2s;
  margin-top: 32px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 13px;
}

.route-card__photo {
  width: 140px;
  height: 135px;
  border-radius: 15px;
}

.route-card__content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.route-card__name {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  color: rgba(219, 110, 75, 1);
}

.route-card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.route-card__year, 
.route-card__distance {
  font-size: 12px;
  color: rgba(219, 110, 75, 1);
}

.route-card--selected {
    border: 2px solid rgba(219, 110, 75, 1);
}
